.dash-cont {
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.df {
  display: flex;
}
.left {
  background-color: black;
  width: 18vw;
  height: 95vh;
  color: #ffffff;
  border-radius: 25px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
}
.main-h {
  width: 123px;
  height: 44px;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.left-p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.dash-p {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.left-icon {
  width: 18px;
  margin-right: 15px;
}
.left-down-p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.left-down-last {
  margin-bottom: 40px;
}

.right {
  width: 100%;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
}
.right-top-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-top-right-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  border-width: 0px;
  width: 130px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.df2 {
  width: 180px;
  height: 30px;
  border-width: 0px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 5px;
  box-sizing: border-box;
}
.search-icon {
  width: 12px;
  height: 12px;
}
.top-righ-icon {
  width: 18px;
  height: 20px;
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-small-card {
  background-color: #ddefe0;
  width: 221.05px;
  height: 120px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.right-small-card-text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
}
.right-small-card-money {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
}
.right-icon {
  align-self: flex-end;
}
.icons-div {
  display: flex;
  justify-content: space-between;
}
.div2 {
  background-color: #f4ecdd;
}
.div3 {
  background-color: #efdada;
}
.div4 {
  background-color: #dee0ef;
}
.pieChart-cont {
  width: 480px;
  height: 256px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}
.bottom-right-cont {
  background-color: white;
  width: 480px;
  height: 256px;
  border-radius: 15px;
  padding: 20px;
  padding-left: 30px;
  box-sizing: border-box;
  padding-bottom: 30px;
}
.bottom-2-cont {
  display: flex;
  justify-content: space-between;
}
.dfl {
  display: flex;
  justify-content: space-between;
}
.to-sc {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.see-all {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.para1 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #666666;
  margin-bottom: 6px;
  margin-top: 15px;
  padding-top: 2px;
}
.para2 {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-bottom: 6px;
  margin-top: 2px;
}
.para3 {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #999999;
  margin-top: 2px;
}
.paras-cont1 {
  border-style: solid;
  height: 66px;
  border-width: 0px;
  border-left-width: 5px;
  border-color: #9bdd7c;
  padding-left: 10px;
}
.paras-cont2 {
  border-style: solid;
  border-width: 0px;
  height: 66px;
  border-left-width: 5px;
  border-color: #6972c3;
  padding-left: 10px;
}
.see-all-may {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #858585;
}
.vector {
  margin-left: 5px;
}
.line-chart-cont {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.act {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.act-down {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #858585;
}
.empty {
  width: 30%;
}
.log-out {
  color: black;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  border-width: 0px;
  border-radius: 10px;
  background-color: #dee0ef;
  padding: 10px;
  cursor: pointer;
}
